body{
    font-family: "Helvetica Neue";
    background-color: #f8f8f8;
    color:#888;
}
.table-scrollable{
    height:430px;
    overflow: auto;
}
.navbar {
    margin-bottom: 0;
}
.table.custom {
    border-collapse:collapse;
    /*font-size: 20px;*/
}
.table.custom tr {
    cursor: pointer;
    background: white;
    margin-top:10px;
    margin-bottom:10px;
}
.table.custom tr:hover {
    background: #d9d9d9 !important;
}
.table.custom tr td{
    padding: 6px;
    border: none;
}
.company_item {
}
.company-style {
    background: #e6e6e6;
}
.company-card{
    background: #e6e6e6 !important;
}
.company-card.empty td{
    padding:0 !important;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}
.navbar-brand .form-group{
    margin-top:8px;
}
.custom-menu{
    padding-left: 50px;
    padding-right: 100px;

}
.custom-menu .list-group{
    background: #f8f8f8 !important;
}
.custom-menu .list-group .list-group-item{
    background: none;
    border: none;
    padding:5px;
}
.custom-menu .list-group .list-group-item a{
    padding: 0 10px;
}
.selectric-wrapper {
    width:300px;
}
.selected-row{
    background-color: #f5f5f5;
}
.smartSearchResult{
    left: inherit;
    top: 78%;
}
.showSmartSearch{
    display: block;
}
.saveCell{
    background-color: #d6e9c6 !important;
}
.rejectCell{
    background-color: #ebccd1 !important;
}
.infoCell{
    background-color: #bce8f1 !important;
}/*
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}*/
.list-inline li{
    padding:0 !important;
    margin:0 !important;
}
table.custom tr:nth-child(1n+3){

}
table.custom tr:nth-child(4n-6){
    /*background: #f9f9f9;*/
}

.hide {
    display:none;
}
.company-details {
    font-size:20px;
}
.company-details div {
    text-transform:uppercase;
    margin-top:5px;
    margin-bottom: 5px;
}
.row-margin div{
    margin-top:5px;
    margin-bottom: 5px;
}

.list-margin {
    margin-top:12px;
    padding: 5px;
    font-size: 16px;
}
.navbar-nav {
    width: 100%;
    text-align: center;
}
.navbar-nav > li {
    float: none;
    display: inline-block;
}

.go-button {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #ddd;
    display:inline-block;
    cursor:pointer;
    color:#444;
    font-family:Helvetica Neue;
    font-size:12px;
    font-weight:700;
    padding:9px 0;
    text-decoration:none;
    width: 260px;
    height:40px;
}
.go-button:hover {
    border-color: #C4C4C4;
}
.go-button:active {
    position:relative;
}

